body { background-color: rgb(182, 223, 223); padding: 2px; border: .5px solid rgb(130, 145, 140);}
table { background-color: rgb(182, 223, 223); padding: 2px; border: .5px solid rgb(130, 145, 140);}
textarea { background-color: rgb(182, 223, 223); padding: 2px; border: .5px solid rgb(130, 145, 140);}